.jumbotron{
    margin-top: 10px;
    margin-bottom: 10px;
}
body {
    padding-top: 70px;
    padding-bottom: 70px;
}
.branco{
    text-decoration-color: white;
}
.start{

    height: 400px;
}
.logotipo{
    margin-top: 20px;
}.exibicao{
    margin-top: 20px;
}
th{
    text-align: center;
}

#tabela{
    display: none;
}
.controlKit{
	height: 235px;	 
}

.controlAcessorio{
	height: 100px;	
}

.car{
	
	height: 250px;
}