<?xml version="1.0" encoding="UTF-8"?>
<beans 
xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:context="http://www.springframework.org/schema/context"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/mvc 
http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- Rastreia as anotacoes encontradas -->
	<context:component-scan base-package="penselink.model.entidades" />
	<context:component-scan base-package="penselink.controller" />
	<context:component-scan base-package="penselink.service" />
	<context:component-scan base-package="penselink.serviceImpl"/>
	<context:component-scan base-package="penselink.model.eao"/>
	<context:component-scan base-package="penselink.model.eaoImpl"/>	
	
	<mvc:annotation-driven />
	
	<mvc:resources location="/resources/" mapping="/resources/**"></mvc:resources>
	
	<mvc:interceptors>
		<bean class="penselink.util.AutorizadorInterceptador"/>
	</mvc:interceptors>
		
	<context:annotation-config />	
	<!-- View resolver -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- Gerenciamento da conexão -->
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml" />
		<property name="persistenceUnitName" value="managed_site_PU" />		
		<property name="dataSource" ref="mysqlDataSource" />
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter" />
		<property name="jpaDialect" ref="jpaDialect" />
	</bean>
	
	<bean name="mysqlDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	    <property name="driverClassName" value="com.mysql.jdbc.Driver" />
	    <property name="url" value="jdbc:mysql://localhost:3306/managed_site" />
	    <property name="username" value="root" />
	    <property name="password" value="root" />
	</bean>
	
	<bean id="jpaVendorAdapter"
        class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="database" value="MYSQL" />
        <property name="databasePlatform" value="org.hibernate.dialect.MySQL5Dialect" />
    </bean>
	
	<bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
	
	<!-- Gerenciamento das transações -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
		<property name="dataSource" ref="mysqlDataSource"/>
		<property name="jpaDialect" ref="jpaDialect"/>
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>
